* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
}
.header img {
    width: 100%;
}

.container-fluid {
    max-width: 800px;
    width: 100%;
    margin: 10px auto;
}

.container-fluid h4 {
    text-align: center;
    color: red;
    font-size: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.row img-1 {
    width: 100%;
}
.row img-2 {
    width: 100%;
}

.footer{
    background-color: black;
    width: 100%;
}
.footer ul{
    list-style-type: none;
    text-align: center;
    color: blanchedalmond;
    margin-top: 30px;   
}


.footer form{
    text-align: right;
}
.footer form input[type=email]{
    background-color: #BFFBFF;
    border: none;
    margin-bottom: 30px;
    color: #676767;
    height: 20px;
    
    
}
.footer form input[type=submit] {
    background-color: #4154FF;
    border: none;
    margin-bottom: 30px;
    color: white;
    height: 20px;
}